<!DOCTYPE html>
<html lang="en-US">
    <head>
       


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>LEarn for knowledge!</title>
<link rel="stylesheet" href="login.css">
<meta charset="utf-8" name="viewport" 
        content= "width=device-width, initial-scale=1.0"> 
    </head>
<body>
    <header>
        <nav>
        <a href="home.html">Home</a>
        <span class="gi8">
        <a href="learn.html" >Learn</a>
        <span class="gi9">
        <a href="learn.html" >Android</a>
        <a href="learn.html" >Angular</a>
        <a href="learn.html" >React</a></span>
        </span>
        <a href="about.html">About</a>
        <a href="letsstart.html">Login</a>
    </nav>
    </header>


<span class="cap1">Learn for the Greater Good!</span>
<span class="cap2">Nerver forget Education is avaialable for Free!</span>
<div ng-app="" class="login">
    <span class="lhead">Login</span>
    <form onsubmit='alert("login Successgul")'>
  <p class="usname">Username: <input type="text" required ng-model="name" ></p>
  <p class="password">Password: <input type="password" required ng-model="password"></p>
  <span><input type="submit" class="submit"></span>
<a href="regis.html">Register</a>
</div>

</body>
</html>